{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="navigation-container">
    {% include 'navigation.html' %}
</div>
<div class="cart-container">
    <h2 class="cart-title">Shopping Cart</h2>
    <div class="container mt-4">
        <div id="cart-items-container" class="row">
            <!-- Cart items will be dynamically inserted here -->
        </div>

        <!-- Cart totals and checkout button -->
        <div id="cart-totals" class="d-flex justify-content-between mt-4">
            <div>
                <h4>Total: <span id="total-price" class="text-primary">$0.00</span></h4>
            </div>
            <div>
                <a href="{% url 'checkout' %}" class="btn btn-success btn-lg">Proceed to Checkout</a>
            </div>
        </div>
    </div



{% endblock %}
