{% extends "base.html" %} {% load static %} {% block content %}
<div class="navigation-container">{% include 'navigation.html' %}</div>

<div class="logo-container" id="logoContainer">
  <img src="{% static 'images/logo-final-invert.png' %}" alt="Logo" />
</div>

<div class="home-container">
  <div class="marquee-container">
    <a href="/seeds/?show_seeds=true" class="full-container-link">
      <div class="marquee">
        <!-- Static Text for Marquee -->
        <div class="marquee-text">
          <p>
            Visit our shop, some seeds are on discount!
            <span>Check them out here!</span>
          </p>
        </div>
      </div>
    </a>
  </div>
  <div class="what-is-going-on"></div>
  <div class="m-0 home-container-content">
    <!-- Latest Added Seed Section -->
    <div class="round-home-container-background">
      <div class="home-container-background">
        {% if random_discounted_seed %}

        <div
          id="random-discounted-seed"
          class="random-discounted-seed overlay-container round-home-container"
          style="background-image: url('{{ random_discounted_seed.image.url }}');"
        >
          <a href="/seeds/?show_seeds=true" class="overlay-link">
            <div class="overlay">
              <h2>DISCOUNTED</h2>
              <div class="overlay-content">
                <h3>{{ random_discounted_seed.name }}</h3>
                <p class="original-price-text">
                  Original Price: ${{ random_discounted_seed.price }}
                </p>
                <p class="discounted-price-text">
                  Discounted Price: ${{ discounted_price }}
                </p>
                <span>View All Seeds</span>
              </div>
            </div>
          </a>
        </div>
        {% else %}
        <p>No discounted seeds available at the moment.</p>
        {% endif %}
      </div>
      <!-- Latest Added Seed Section -->
      <div class="home-container-background">
        {% if latest_seed %}
        <div
          class="new-seed overlay-container round-home-container"
          id="new-seed"
          style="background-image: url('{{ latest_seed.image.url }}');"
        >
          <a href="/seeds/?show_seeds=true" class="overlay-link">
            <div class="overlay">
              <h2>NEW</h2>
              <div class="overlay-content">
                <h4>{{ latest_seed.name }}</h4>
                <p>Price: ${{ latest_seed.price }}</p>
                <span>View All Seeds</span>
              </div>
            </div>
          </a>
        </div>
        {% else %}
        <p>No new seeds added yet.</p>
        {% endif %}
      </div>
    </div>
  </div>

  {% endblock %}
</div>
