{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="home-container navigation-container">
   

        {% include 'navigation.html' %}
        


</div>
{% include "reviews/reviews.html" %}
<div class="animation-container">
<div class="animation-section">
        <!-- Containers with data attributes for the paths -->
        <div id="animationContainer1" class="animation-container" data-path="{% static 'animations/sweet-teapot-with-autumn-herbs.json' %}"></div>
        <h2 class="animation-title">Future Flower Shop</h2>
    </div>
</div>    

{% endblock %}
