{% extends 'base.html' %}
{% load static %}

{% block content %}
<h2>Humans</h2>
<ul id="human-list" class="text-white">
    {% for human in humans %}
    <li id="human-{{ human.id }}">
        {{ human.first_name }} {{ human.last_name }} ({{ human.age }}) - {{ human.email }}
        <a href="{% url 'human:human_update' human.id %}">Edit</a>
        <button onclick="deleteHuman('{{ human.id }}')">Delete</button>
    </li>
    {% endfor %}
</ul>
<a href="{% url 'human:human_create' %}">Add Human</a>

<!--SYNC SCRIPTS-->
<script type="module" src="{% static 'js/server_ui/sync.js' %}"></script>
<script type="module" src="{% static 'js/server_ui/ui.js' %}"></script>
<script type="module" src="{% static 'js/home.js' %}"></script>
{% endblock %}
