{% extends "base.html" %}
{% load static %}

<!--
    This template is responsible for displaying the checkout page in the shopping cart.
    It includes the following sections:
    1. A list of items in the cart with their images, descriptions, quantities, and prices.
    2. A summary section with subtotal, discounts, delivery fee, and grand total.
    3. A form for entering order details, delivery information, and payment processing through Stripe.
    
    Each item in the cart has the option to update its quantity or remove it from the cart.
    The user is also prompted to complete the order by submitting payment information.
    
    Key Features:
    - Dynamic rendering of cart items using a loop
    - Displaying of item details (name, description, quantity, price)
    - Use of Stripe Elements for secure card payments
    - Option to save delivery info for authenticated users
    - Option to go back to the cart page to adjust items
    
    Ensure the appropriate Stripe API keys and configurations are set up in the view context for successful payment processing.
    
    Related URLs:
    - URL to update the cart item quantity: `{% url 'cart:update_cart' item.id %}`
    - URL to remove an item from the cart: `{% url 'cart:remove_from_cart' item.id %}`
    - URL to complete the order: `{% url 'checkout' %}`
    
    This template should be used in conjunction with proper view logic and backend configurations (e.g., Stripe, cart management).
    Happy shopping!
-->

{% block content %}


<div class="checkout-container d-flex flex-column p-1 animate__animated animate__fadeIn animate__slower pt-5">
   
        <div class="col mt-5">
            <hr>
            <p class="logo-font mb-4 ml-1 text-white dark-rgba-background p-2 fs-6 fs-sm-4"> Your Shopping Cart 🛒</p>
            <hr>
        </div>
 
        <div class="text-right mb-1 mt-2">
            <a href="/cart/" class="edit-cart-button mr-3 fs-6 fs-sm-4"> ✏️ Edit Cart</a>
        </div>
     
  
    <div class="row checkout-row m-0">

    <div class="cart-checkout">
        <p class="ml-2 order-summary text-white">Order Summary (<span id="cart-count">{{ total_items }}</span>) items.</p>
    
        <div id="checkout-items-container" class="container">
            {% for item in cart.items.all %}
            <div class="row dark-rgba-background shadow-sm rounded p-3 mb-3 align-items-center">
                
                <!-- Image Column -->
                <div class="col-12 col-md-4 d-flex justify-content-center">
                    <div class="card border-0">
                        <img src="{{ item.seed.image.url }}" alt="{{ item.seed.name }}" class="img-fluid rounded">
                    </div>
                </div>
        
                <!-- Item Details Column -->
                <div class="col-12 col-md-8">
                    <h5 class="font-weight-bold">{{ item.seed.name }}</h5>
                    <p class="text-muted mb-1">{{ item.seed.description|truncatewords:20 }}</p>
                    <p><strong>Quantity:</strong> {{ item.quantity }}</p>
                    <p class="mb-1"><strong>Price:</strong> ${{ item.seed.calculate_discounted_price|floatformat:2 }}</p>
                    <p><strong>Total:</strong> ${{ item.get_total_price|floatformat:2 }}</p>
        
                    <!-- Update Form -->
                    <form action="{% url 'cart:update_cart' item.id %}" method="post">
                        {% csrf_token %}
                        <div class="d-flex align-items-center">
                            <label class="mr-2" for="quantity">Qty:</label>
                            <div class="input-group input-group-sm">
                                <input type="number" name="quantity" value="{{ item.quantity }}" min="1" max="{{ item.seed.in_stock_number }}" class="form-control">
                                <div class="input-group-append ml-1">
                                    <button type="submit" class="btn btn-primary btn-sm">🔄 Update</button>
                                </div>
                            </div>
                        </div>
                    </form>
         <!-- Remove Button -->
         <div class="remove-checout-button d-flex justify-content-end">
            <a href="{% url 'cart:remove_from_cart' item.id %}" class="btn btn-danger mt-2 btn-sm">🗑 Remove</a>
        </div>
                   
                    
                </div>
            </div>
            {% endfor %}
        </div>
        
        <div class="summary-card shadow-lg mt-4 p-2">
            <div class="card-body text-center">
            <h4 class="card-title">💰 Order Summary</h4>
            <p class="mb-1"><strong>Subtotal:</strong> ${{ total|floatformat:2 }}</p>
            <p class="mb-1"><strong>Discounts:</strong> ${{ total_discount|floatformat:2 }}</p>
            <p class="mb-1"><strong>Delivery Fee:</strong> ${{ delivery|floatformat:2 }}</p>
            <h4 class="mt-3"><strong>Grand Total:</strong> ${{ grand_total|floatformat:2 }}</h4>
        
            
            <div class="text-center">
                <a href="{% url 'home:home' %}" class="btn send-button btn-sm mt-3">Shopping ➡️</a>
            </div>
            </div>
        </div>
        <div class="mt-5 checkout-form-container dark-rgba-background  checkout-row">
            <form action="{% url 'checkout' %}" method="POST" id="payment-form" >
                <input type="hidden" id="cart-data" name="cart_data" />
                {% csrf_token %}
                <fieldset class="rounded px-3 mb-5">
                    <legend class="fieldset-label small text-black px-2 w-auto">Details</legend>
                    {{ order_form.full_name | as_crispy_field }}
                    {{ order_form.email | as_crispy_field }}
                </fieldset>
                <fieldset class="rounded px-3 mb-5">
                    <legend class="fieldset-label small text-black px-2 w-auto">Delivery</legend>
                    {{ order_form.phone_number | as_crispy_field }}
                    {{ order_form.country | as_crispy_field }}
                    {{ order_form.postcode | as_crispy_field }}
                    {{ order_form.town_or_city | as_crispy_field }}
                    {{ order_form.street_address1 | as_crispy_field }}
                    {{ order_form.street_address2 | as_crispy_field }}
                    {{ order_form.county | as_crispy_field }}
                    <div class="form-check form-check-inline float-right mr-0">
                        {% if user.is_authenticated %}
                            <label class="form-check-label text-white" for="id-save-info">Save this delivery information to my profile</label>
                            <input class="form-check-input ml-2 mr-0" type="checkbox" id="id-save-info" name="save-info" checked>
                        {% else %}
                            <label class="form-check-label" for="id-save-info">
                                <a class="text-info" href="{% url 'account_signup' %}">Create an account</a> or 
                                <a class="text-info" href="{% url 'account_login' %}">login</a> to save this information
                            </label>
                        {% endif %}
                    </div>
                </fieldset>
                <fieldset class="px-3">
                    <legend class="fieldset-label small text-white px-2 w-auto">Payment</legend>
                    <!-- A Stripe card element will go here -->
                    <div class="mb-3" id="card-element"></div>

                    <!-- Used to display form errors -->
                    <div class="mb-3" id="card-errors" role="alert"></div>
                      <!-- Pass the client secret to the view so we can get the payment intent id -->
                      <input type="hidden" value="{{ client_secret }}" name="client_secret">
                </fieldset>

                <div class="submit-button text-center mt-5 mb-2">                    
                    <a href="{% url 'cart:cart' %}" class="btn btn-danger rounded-0">
                        <span class="checkout-icon">
                            <i class="fas fa-chevron-left"></i>
                        </span>
                        <span class="font-weight-bold">Adjust Bag</span>
                    </a>
                    <button id="submit-button" class="btn btn-success rounded-0" >
                        <span class="font-weight-bold">Complete Order</span>
                        <span class="checkout-icon">
                            <i class="fas fa-lock"></i>
                        </span>
                    </button>
                    <p class="small text-danger my-0">
                        <span class="checkout-icon">
                            <i class="fas fa-exclamation-circle"></i>
                        </span>
                        <span>Your card will be charged <strong>${{ grand_total|floatformat:2 }}</strong></span>
                    </p>
                </div>
            </form>
        </div>
    </div>


    </div>

</div>

{% endblock %}
{% block postloadjs %}
{{ block.super }}
{{ stripe_public_key|json_script:"id_stripe_public_key" }}
{{ client_secret|json_script:"id_client_secret" }}

<!-- Your Custom JavaScript -->
<script src="{% static 'js/stripe_elements.js' %}"></script>
{% endblock %}