{% extends "base.html" %}

{% load static %}

{% block title %}
Seed List
{% endblock %}

{% block content %}
<!-- Navigation copied from home.html -->
<div class="navigation-container">
    {% include 'navigation.html' %}

</div>

<div class="container">
    <!-- Include the navigation menu -->

    <h1 class="seeds-title">Seeds</h1>

    {% if seeds %}
    <ul>
        {% for seed in seeds %}
        <li>
            <a href="{% url 'seed_details' seed.id %}">
                {% if seed.image %}
                    <img src="{{ seed.image.url }}" alt="{{ seed.name }}" style="max-width: 150px; height: auto;">
                {% else %}
                    <img src="{% static 'default_image.jpg' %}" alt="Default Image" style="max-width: 150px; height: auto;">
                {% endif %}
                <h2>{{ seed.name }}</h2>
                <p><strong>Scientific Name:</strong> {{ seed.scientific_name }}</p>
                <p><strong>Planting Months:</strong> {{ seed.planting_months_from }} to {{ seed.planting_months_to }}</p>
                <p><strong>Flowering Months:</strong> {{ seed.flowering_months_from }} to {{ seed.flowering_months_to }}</p>
                <p><strong>Price:</strong> ${{ seed.price }}</p>
            </a>
            <form method="post" action="{% url 'add_to_cart' seed.id %}">
                {% csrf_token %}
                <button type="submit">Add to Cart</button>
            </form>
        </li>
        {% endfor %}
    </ul>
    {% else %}
    <p>No seeds found.</p>
    {% endif %}
</div>
{% endblock %}
