<!-- seeds.html -->
{% extends "base.html" %}
{% load static %}
{% block title %}Seeds{% endblock %}

{% block content %}
<!-- Navigation Bar -->
<div class="navigation-container">
    {% include 'navigation.html' %}
</div>

<!-- Seed List -->
<div id="add-item-messages" style="display: none;">
    <div id="item-message"></div>
    <div id="item-details"></div>
    <button id="close-message">Close</button>
</div>
<div class="seeds-container mt-4" id="seeds-container">
    <h1 class="seeds-title mb-4">Seeds</h1>
    <div class="row"></div>
</div>
<div id="pagination-controls" class="text-center mt-4"></div>

<!-- Add this script to handle the display logic -->
<script type="module">
    import { displaySeeds } from '{% static "js/seeds.js" %}';
    document.addEventListener('DOMContentLoaded', () => {
        const urlParams = new URLSearchParams(window.location.search);
        if (urlParams.get('show_seeds') === 'true') {
            displaySeeds();
        }
    });
</script>
{% endblock %}
