{% extends "base.html" %}

{% block title %}
Seed Details
{% endblock %}
{% load static %}

{% block content %}
<div class="navigation-container">
    {% include 'navigation.html' %}
</div>

<div class="container"
    style="background-image: url('{% if seed.image %}{{ seed.image.url }}{% else %}/static/default_image.jpg{% endif %}'); background-size: cover;">
    <h1>{{ seed.name }}</h1>
    <button class="close-seed-details-button" onclick="window.history.back();">Back</button>
    <p><strong>Scientific Name:</strong> {{ seed.scientific_name }}</p>
    <p><strong>Description:</strong> {{ seed.description }}</p>
    <p><strong>Planting Months:</strong> {{ seed.planting_months_from }} to {{ seed.planting_months_to }}</p>
    <p><strong>Flowering Months:</strong> {{ seed.flowering_months_from }} to {{ seed.flowering_months_to }}</p>
    <p><strong>Sun Preference:</strong> {{ seed.sun_preference }}</p>
    <p><strong>Price:</strong> ${{ seed.price }}</p>
    {% if seed.has_discount %}
    <p><strong>Discount:</strong> {{ seed.discount }}%</p>
    <p><strong>Discounted Price:</strong> ${{ seed.calculate_discounted_price }}</p>
    {% endif %}
    <p><strong>In Stock:</strong> {{ seed.in_stock }}</p>

    <div class="row">
        <div class="col-md-2">
            <h6>Quantity</h6>
            <form id="add-to-cart-form" action="{% url 'cart:add_to_cart' seed.id %}" method="post" class="d-inline">
                {% csrf_token %}
                <input type="number" name="quantity" value="1" min="1" max="{{ seed.in_stock }}"
                    class="form-control form-control-sm w-75 d-inline" placeholder="Quantity">
                <button type="submit" class="btn btn-sm mt-2">Add to Cart</button>
            </form>
        </div>
    </div>
</div>


{% endblock %}