/* base.css */

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: url('/media/images/home-background-one.webp') no-repeat center center fixed;
    background-size: cover;
    transition: filter 0.3s ease;
    /* Optional: covers the whole background */
}

body.blur {
    filter: blur(5px); /* Adjust blur level as needed */
}


.custom-buttons {
    background-color: rgba(0, 0, 0, 0.5) !important;
    padding: 5px 10px;
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
    color: white !important;
}


/* Header styling */
.header {
    color: white !important;
    width: 100%;
    font-weight: 700;
    position: fixed;
    height: 64px;
    top: 0;
    /* Stick to the top */
    left: 0;
    /* Full width */
    z-index: 1000;
    /* Ensure it is on top of other content */
    display: flex;
    justify-content: flex-end;
    /* Align children to the right */
    background-color: rgba(0, 0, 0, 0.9);
    box-shadow: 0 5 10px rgba(0, 0, 0, 0.5);




}





#chat-container {
    top: 120px;
    position: fixed;
    left: 50%; /* Center horizontally */
    width: 50%;
    background-color: rgba(0, 0, 0, 0.7);
    color: white !important;
    transform: translateX(-50%); /* Shift back by half of its width */
}

.container {
    width: 80%;
    margin: 0 auto;
    margin-top: 100px;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.4);
    color: white !important;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.filter-container {
    margin-top: 130px !important;
    position: relative;
    width: 90%;
    margin: 0 auto;
    padding: 30px;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(255, 241, 241, 0.3);
}

.filter-toggle {
    position: fixed;
    z-index: 99999999999;
    left: 20px;
    top: 5px;
}


.dropdown-menu {
    background-color: rgba(0, 0, 0, 0.7) !important;
}

.dropdown-toggle {
    background-color: rgba(255, 0, 0, 0.7) !important;
    border-radius: 20px;
    color: white;
    font-weight: 600;

}

.filter-label, .sorting-label {
    color: white !important;
    margin: 0px !important;
    
    font-weight: 300;
    width: 100%;
    font-size: 12px;
    margin-bottom: 0px !important;
}

.form-filter-search {
    width: 70%;
    margin: 0px auto;
}

.sorting-container {
    margin-bottom: 20px;
    margin-top: 10px !important;  
    position: relative;
    width: 90%;
    margin: 0 auto;
    padding: 30px;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(255, 241, 241, 0.3);

}



.row-cart-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.message-cart-item {
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.hidden {
    display: none;
}

/* More specific selector might override inline styles */
#cartItemAddedContainer {
    display: block;
    /* This would override the inline style if it has higher specificity */
}

/* Additional styling */
#itemDetails {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    background-color: #d4edda;
    /* Example background color */
    border: 1px solid #c3e6cb;
    border-radius: 0.25rem;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
}

#itemDetails img {
    width: 80px;
    /* Adjust size as needed */
    height: 80px;
    /* Adjust size as needed */
    object-fit: cover;
    /* Ensure the image fits within the box */
}


header ul.list-inline {
    margin: 0;
    padding: 0;
}

header .list-inline-item {
    margin-right: 15px;
    display: flex;
}

.icon-conatainer {
    display: flex;
    flex-direction: row;
}

a {
    color: white !important;
}
.search-icon{
    color: white !important;
}



.btn {
    background-color: rgba(0, 0, 0, 0.9) !important;
    border: 1px solid white;
    border-radius: 15px;
}

.header.animate-herder .list-container ul {
    display: flex;
    justify-content: flex-end;
    animation: swingDownFlip 1.3s cubic-bezier(0.25, 0.1, 0.25, 1) forwards;
    height: 64px;
}

.header.animate-herder .list-container ul li {
    animation: swingDownFlip 1.3s cubic-bezier(0.25, 0.1, 0.25, 1) forwards;
    /* Duration and easing */
}

.header.animate-herder .list-container ul li:nth-child(1) {
    animation-delay: 0.1s;
    /* Optional: Adjust delay for cascading effect */
}

.header.animate-herder .list-container ul li:nth-child(2) {
    animation-delay: 0.1s;
    /* Optional: Adjust delay for cascading effect */
}

.nav-link {
    text-decoration: none;
    color: white;
}

header .dropdown-menu {
    min-width: 200px;
    /* Adjust dropdown width */
}

header .dropdown-item {
    padding: 10px 15px;
    /* Adjust padding for dropdown items */
}

.message-container {
    position: fixed;
    top: 70px;
    right: 5px;
    z-index: 1999000;
    background-color: rgba(26, 1, 1, 0.9);
    border: 1px solid white;
    overflow-y: auto;
    width: 400px;
    max-height: 500px;
    /* Adjust the height as needed */
}

.message {
    position: relative;
    background-color: #333;
    color: white;
    margin: 5px;
    margin-bottom: 10px;
    /* Space between messages */
    border-radius: 5px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}


.message-image {
    width: 50px;
    height: auto;
    margin-right: 10px;
}

.message-details {
    flex: 1;
}

.message-item-name {
    font-size: 1.1em;
    display: block;
}

.message-item-price {
    font-size: 0.9em;
    color: #555;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    color: white;
    font-size: 1.2em;
    cursor: pointer;
}

.message .close-button:hover {
    color: #f00;
    /* Color on hover */
}

/* Page header styling */
.page-header {
    margin: 20px 0;
    font-size: 24px;
    font-weight: bold;
}

/* Content block styling */
.content {
    margin: 20px 0;
}

/* Hide element with animation */
.hide-animate {
    opacity: 0;
    transform: scale(0);
    transition: opacity 0.3s ease, transform 0.3s ease;
}

/* Show element with animation */
.show-animate {
    opacity: 1;
    transform: scale(1);
    transition: opacity 0.3s ease, transform 0.3s ease;
}



/* ANIMATIONS*/
@keyframes slideFromDown {
    from {
        transform: translateY(100vh);
        /* Start off-screen below */
    }

    to {
        transform: translateY(0);
        /* End at the normal position */
    }
}

@keyframes slideFromUp {
    from {
        transform: translateY(-100vh);
        /* Start off-screen above */
    }

    to {
        transform: translateY(0);
        /* End at the normal position */
    }
}

@keyframes swingDownFlip {
    0% {
        transform: rotateX(-90deg) translateY(-100%);
        opacity: 0;
    }

    60% {
        transform: rotateX(-20deg) translateY(10%);
        opacity: 1;
    }

    80% {
        transform: rotateX(10deg) translateY(-5%);
    }

    90% {
        transform: rotateX(-5deg) translateY(2%);
    }

    100% {
        transform: rotateX(0) translateY(0);
        opacity: 1;
    }
}


@keyframes slideFromRight {
    from {
        transform: translateX(100vw);
        /* Start off-screen to the right */
    }

    to {
        transform: translateX(0);
        /* End at the normal position */
    }
}

@keyframes slideFromLeft {
    from {
        transform: translateX(-100vw);
        /* Start off-screen to the left */
    }

    to {
        transform: translateX(0);
        /* End at the normal position */
    }
}

@keyframes swingDown {
    0% {
        transform: translateY(-100%) rotate(-10deg);
        /* Start above the screen and tilted */
        opacity: 0;
        /* Start invisible */
    }

    50% {
        transform: translateY(10%) rotate(10deg);
        /* Swing down and tilt back */
        opacity: 1;
        /* Fully visible */
    }

    100% {
        transform: translateY(0) rotate(0);
        /* End at normal position */
        opacity: 1;
        /* Fully visible */
    }
}


/* Define the pop-out animation */
@keyframes popOut {
    from {
        transform: translate(-50%, -50%) scale(0);
        /* Start with the icon scaled down to 0 */
    }

    to {
        transform: translate(-50%, -50%) scale(1);
        /* End with the icon at its full size */
    }
}

.modal-visible {
    display: block; /* Display the modal */
}
.search-container {
    position: fixed;
    top: 64px;
    left: 50%;
    transform: translateX(-50%);
    margin: 0;
    background-color: rgba(0, 0, 0, 0.9);
    box-shadow: 0 5 10px rgba(0, 0, 0, 0.5);
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    z-index: 444999;
    display: flex;
    align-items: center;
}

/* Style for the form elements */
.search-container form {
    display: flex;
    flex-direction: row;
}

/* Style for form input fields */
.search-container input[type="text"],
.search-container input[type="search"],
.search-container input[type="email"],
.search-container input[type="number"],
.search-container input[type="password"],
.search-container textarea {
    background-color: transparent;
    border-color: transparent !important;
    color: white;
    /* Text color */
    border-radius: 20px;
    /* Rounded corners */
    padding: 2px;
    /* Padding inside the input field */
    margin-bottom: 5px;
    margin-left: 5px;
    font-size: 16px;
    /* Font size */
    box-shadow: none !;
    /* Ensure no shadow effect is applied */
    outline: none !important;
    /* Remove default outline */
}

/* Input fields focus state */
.search-container input:focus,
.search-container textarea:focus {
    border-color: #00aaff;
    /* Change border color on focus */
    outline: none;
    /* Remove default outline */
    background-color: rgba(49, 49, 49, 0.6);
    /* Slightly darker background on focus */
}

/* Style for the submit button */
.search-container button[type="submit"] {
    background-color: transparent !important;
    /* Blue background color */
    color: white;
    border-bottom-right-radius: 15px;
    /* Text color */
    border: none;

    /* Optional: Adds rounded corners */
    padding: 10px 20px;
    /* Padding around the text */
    font-size: 16px;
    /* Font size */
    cursor: pointer;
    /* Change cursor to pointer on hover */
    transition: background-color 0.3s ease;
    /* Smooth transition on hover */
}

/* Button hover and active state */
.search-container button[type="submit"]:hover {
    background-color: #3d3d3d;
    /* Darker blue background on hover */
}

.search-container button[type="submit"]:active {
    background-color: #004080;
    /* Even darker blue background on click */
}

.content-container {
    position: relative;
    height: 30px;
}

.content-container::after {
    content: '';
    position: fixed;
    top: 64px;
    left: 0;
    width: 100%;
    height: 30px;
    /* Height of the fade effect */
    background: linear-gradient(to top, rgba(255, 255, 255, 0) 0%, rgba(187, 187, 187, 0.3) 100%);
    pointer-events: none;
    z-index: 1;
}

.content {
    position: relative;
    z-index: 233333333333333333333333;
    height: 30px;

}

/* Style for the fixed back arrow */
.back-arrow-container {
    position: absolute;
    top: 5px;
    /* Adjust as needed */
    left: 130px;
    /* Adjust as needed */
    z-index: 1000;
    /* Ensure it is on top */
}



.back-arrow i {
    margin-right: 5px;
}

/* Optional: Add hover effect */
.back-arrow:hover {
    background-color: rgba(187, 187, 187, 0.3);
    /* Darker button color on hover */
}

#item-added-search-message {
    position: fixed;
    top: 50%; /* Center vertically */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%); /* Adjust for exact center */
    background: rgba(0, 0, 0, 0.8); /* Semi-transparent background */
    display: flex;
    align-items: center; /* Center content vertically */
    justify-content: center; /* Center content horizontally */
    transition: opacity 0.4s ease, visibility 0.4s ease; /* Smooth fade-in effect */
   color: white !important;
    z-index: 10000; /* Ensure it stays on top */
    padding: 20px;
    width: 500px;
    height: 333px;
}

#search-seed-details-modal{

    margin-top: 350px;
}
#admin-message-icon, #messagesIcon {
    display: none; /* Initially hidden */
    background-color: rgba(255, 0, 0, 0.8);
    padding: 10px;
    border-radius: 20px;
    color: white;
    transition: opacity 0.3s ease; /* Smooth transition for opacity */
}

#notification-area {
    background-color: rgba(0, 0, 0, 0.9);
    padding: 5px;
    border-radius: 25px;
    position: fixed;
    top: 100px;
    left: 30px;
    white-space: nowrap;
    overflow: hidden; 
    text-overflow: ellipsis; 
    cursor: pointer; /* Changes the cursor to indicate it is clickable */
    display: none; /* Initially hidden */
}

/* Show icons on hover over the notification area */
#notification-area:hover + #admin-message-icon,
#notification-area:hover + #messagesIcon {
    display: block; /* Show the icons */
}

/* Hover effect to blur background when hovering over icons */
#admin-message-icon:hover, 
#messagesIcon:hover {
    display: block; /* Ensure icons are displayed on hover */
}

/* This is to blur the background when hovering over the icons */
#admin-message-icon:hover ~ body, 
#messagesIcon:hover ~ body {
    filter: blur(5px); /* Adjust blur level as needed */
}


/* Modal styling */
.modal-chat {
    display: none;
    position: fixed;
    z-index: 9991000;
    left: 0;
    top: 64px;
    width: 100%;
    height: 80%; /* Set a specific height */
    overflow: auto; /* Allow scrolling */
    padding: 20px; /* Optional: Add some padding */
}
/* Styles for each message in the modal */
#modal-message-list div {
    padding: 10px;
    border-bottom: 1px solid white; /* Add a white bottom border between messages */
    margin-bottom: 10px; /* Space between messages */
    word-wrap: break-word;
}

/* Highlighting the sender */
#modal-message-list strong {
    color: #00bfff; /* Light blue color for sender name */
}

/* Styling the timestamp */
#modal-message-list em {
    font-size: 0.9em; /* Slightly smaller font size for the timestamp */
    color: #ccc; /* Light gray color for the timestamp */
}

/* Optional: Add hover effect for message items */
#modal-message-list div:hover {
    background-color: rgba(255, 255, 255, 0.1); /* Light background on hover */
}
.super-chat-window {
    background-color: rgba(0, 0, 0, 0.9) !important; 
    padding: 20px;
    border-radius: 5px;
    width: 60%;
    height: 80%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    overflow: hidden;
}

.message-scroll-container {
    flex-grow: 1;
    overflow-y: auto;
    padding-right: 10px;
    margin-bottom: 10px;
}

.chat-footer-input {
    width: 60%;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}

.text-type-box {
    width: 85%;
    padding: 10px;
}

.send-message-action {
    padding: 10px 20px;
    cursor: pointer;
}

.close-chat-window {
    cursor: pointer;
    font-size: 24px;
    color: white;
    position: absolute;
    top: 10px;
    right: 20px;
}


.close-modal-button {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close-modal-button:hover,
.close-modal-button:focus {
    color: #999;
    text-decoration: none;
    cursor: pointer;
}

/* Message item styling */
.message-item {
    padding: 10px 0;
    border-bottom: 1px solid white; /* Add bottom white border between messages */
    margin-bottom: 10px;
}

.message-item:last-child {
    border-bottom: none; /* Remove the border for the last item */
    flex-grow: 1; /* Takes up all available space before the footer */
    overflow-y: auto; /* Scrollable message area */
    margin-bottom: 10px; /* Space between the messages and footer */
}


#message-input {
    flex: 1;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

#send-message-button {
    padding: 10px 15px;
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#send-message-button:hover {
    background-color: #218838;
}