/* navigation.css */
.navigation-container {
    position: fixed;
    top: 60px;
    right: 40px;
    z-index: 10000000000;
    border-radius: 5px;
    padding: 10px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    transition: all 0.3s ease;
   
    /* Smooth transition */
}

/* Add a class to center the container */
.navigation-container.centered {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.6);
}

.cart-container {
    margin-top: 100px;
    margin: 5px;
    height: 100%;
}

/* Menu styles */
.menu {
    display: flex;
    flex-direction: column;
    /* Arrange items vertically */
    padding: 0;
    margin: 0;
}

.cart-title {
    font-size: 2.5em;
    text-align: center;
    margin-bottom: 30px;
    color: white;
    margin-top: 100px;
}

.cart-table {
    width: 100%;
    margin-bottom: 20px;
    border-collapse: collapse;
    background-color: #fff;
}

.cart-header {
    background-color: rgba(0, 0, 0, 0.3);
    padding: 15px;
    font-weight: bold;
    text-align: left;
    border-bottom: 2px solid #ddd;
}

.cart-item {
    border-bottom: 1px solid #ddd;
}

.cart-item-image img {
    max-width: 80px;
    border-radius: 8px;
}

.cart-item-name {
    padding: 10px;
    font-size: 1.1em;
    color: #333;

}

.cart-item-price,
.cart-item-total {
    font-size: 1.2em;
    color: rgb(242, 6, 6);
}

.cart-item-quantity {
    text-align: center;
}

.update-form {
    display: flex;
    align-items: center;
    gap: 10px;
}

.quantity-input {
    width: 60px;
    padding: 5px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.btn {
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 1em;
    border-radius: 4px;
}

.btn-update {
    background-color: #4CAF50;
    color: white;
}

.btn-remove {
    background-color: #f44336;
    color: white;
}

.cart-summary {
    text-align: right;
    margin-top: 20px;
    margin-right: 20px;
    color: white;

}

.cart-total,
.cart-discount {
    color: white;
    font-weight: bold;
}

.checkout-actions {
    text-align: center;
    margin-top: 20px;
}

.btn-checkout {
    background-color: #007bff;
    color: white;
    padding: 15px 30px;
    font-size: 1.2em;
}

.empty-cart-message {
    text-align: center;
    margin-top: 50px;
}

.btn-shop {
    background-color: #28a745;
    color: white;
    padding: 10px 20px;
    font-size: 1.2em;
}