.home-container {
    height: 100vh; /* Full viewport height */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; /* Prevent scrollbars if needed */
}


.roses-icon {
    background-image: url('/media/images/menu-icon-rose.webp');
    background-size: cover;
    background-position: center;
}
.wild-flower-icon {

    background-image: url('/media/images/wild-flowers-icon.webp');
    background-size: cover;
    background-position: center;
}

.cart-icon{
    background-image: url('/media/images/cart-icon.webp');
    background-size: cover;
    background-position: center;
    color: black !important;
    font-weight: 700;
    font-size: 1rem;
}

.contact-us-icon{
    background-image: url('/media/images/contact-us-icon.webp');
    background-size: cover;
    background-position: center;
    color: black !important;
    font-weight: 700;
    font-size: 1rem;
    
}

.trees-icon{
    background-image: url('/media/images/trees-icon.webp');
    background-size: cover;
    background-position: center;
    font-weight: 700;
    font-size: 1rem;
    
}

.about-us-icon{
    background-image: url('/media/images/about-us-icon.webp');
    background-size: cover;
    background-position: center;
    font-weight: 700;
    font-size: 1rem;
    color: blue !important;
    
}

.bush-icon{
    background-image: url('/media/images/bushes-icon.webp');
    background-size: cover;
    background-position: center;
    font-weight: 700;
    font-size: 1rem;
    
    
}

.reviews-icon{
    background-image: url('/media/images/reviews-icon.png');
    background-size: cover;
    background-position: center;
    font-weight: 700;
    font-size: 1.1rem;
    color: black !important;
    
}

.menu-icon {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    background-image: url('/media/images/sunflower.webp');
    background-size: cover;
    background-position: center;
    align-items: center;
    color: white;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    /* Start with the icon scaled down */
    animation: popOut 1s ease-out forwards;
    /* Apply the pop-out animation */
}


.menu .icon-text {
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 7px;
    color: rgb(255, 255, 255) !important;
    font-size: 0.7rem !important;
    font-weight: 500 !important;
   padding: 0px 3px;
}


.nav-link-icon {
    pointer-events: none;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    cursor: pointer;
    font-size: 12px;
    position: absolute;
    opacity: 0;
    transform: scale(0);
    transition: opacity 0.3s ease, transform 0.3s ease;
}
.nav-link-icon:hover {
    opacity: 0.5; /* Reduce opacity to 0.5 on hover */
}