.home-container {
    position: absolute; /* Change to absolute when centered */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    right: auto; /* Reset right position */
    background-color: rgba(11, 11, 10, 0.3);
    height: 300px;
    width: 300px;
    border-radius: 50%;
}

.navigation-container {
    position: fixed;
    bottom: 150px;
    right: 150px;
    z-index: 1000;
    transition: all 0.5s ease;


}

.centered-nav {
    position: fixed; /* Changed from absolute to fixed */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(11, 11, 10, 0.3);
    height: 300px;
    width: 300px;
    border-radius: 50%;
    z-index: 1000; /* Optional: Ensures the element is above other content */
}



.roses-icon {
    border-radius: 50%;
    height: 90px;
    background-size: cover;
    background-position: center;
}
.wild-flower-icon {

    border-radius: 50%;
    height: 90px;
    background-size: cover;
    background-position: center;
}

.home-icon{
    border-radius: 50%;
    height: 90px;
    background-size: cover;
    background-position: center;
    color: black !important;
    font-weight: 700;
    font-size: 1rem;
}

.contact-us-icon{
    border-radius: 50%;
    height: 90px;
    background-size: cover;
    background-position: center;
    color: black !important;
    font-weight: 700;
    font-size: 1rem;
    
}

.trees-icon{
    border-radius: 50%;
    height: 90px;
    background-size: cover;
    background-position: center;
    font-weight: 700;
    font-size: 1rem;
    
}

.about-us-icon{
    border-radius: 50%;
    height: 90px;
    background-size: cover;
    background-position: center;
    font-weight: 700;
    font-size: 1rem;
    color: blue !important;
    
}

.bush-icon{
    border-radius: 50%;
    height: 90px;
    background-size: cover;
    background-position: center;
    font-weight: 700;
    font-size: 1rem;
    
    
}

.reviews-icon{
    background-size: cover;
    background-position: center;
    font-weight: 700;
    font-size: 1.1rem;
    color: black !important;
    
}

.menu-icon {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    background-image: url('/media/images/sunflower.webp');
    background-size: cover;
    background-position: center;
    align-items: center;
    color: white;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    /* Start with the icon scaled down */
    animation: popOut 1s ease-out forwards;
    /* Apply the pop-out animation */
}


.menu .icon-text {
   
    color: rgb(255, 255, 255) !important;
    font-size: 0.7rem !important;
    font-weight: 700 !important;
   padding: 0px 3px;
}


.nav-link-icon {
    pointer-events: none;            /* Disables mouse events on the element */
                    /* Sets the height of the icon */
    display: flex;                   /* Uses flexbox for layout */
    justify-content: center;         /* Centers content horizontally */
    border-radius: 50%;              /* Makes the element circular */
    align-items: center;             /* Centers content vertically */
    background-color: transparent; /* Semi-transparent dark red background */
    text-align: center;              /* Centers text horizontally */
    color: white;                    /* Sets text color to white */
    cursor: pointer;                 /* Changes cursor to pointer on hover */
    font-size: 2.5rem;                 /* Sets font size for the text */
    position: absolute;              /* Positions the element absolutely */
    opacity: 0;                      /* Hides the element initially */
    transform: scale(0);             /* Scales down the element to zero */
    transition: opacity 0.3s ease, transform 0.3s ease; /* Smooth transition for opacity and transform */
}

.nav-link-icon:hover {
    opacity: 0.5; /* Reduce opacity to 0.5 on hover */
}