/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


li a {
    text-decoration: none;
}

.filter-container {
    margin-top: 240px !important;
    position: relative;
    width: 90%;
    margin: 0 auto;
    padding: 10px;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(255, 241, 241, 0.3);
}

.seeds-container {
    width: 80%;
    margin: 0 auto;
    margin-top: 50px !important;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.4);
    color: white !important;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}

.seed-card {
    background-color: rgba(0, 0, 0, 0.4) !important;
    color: white !important;
}

li a:hover {
    text-decoration: none;
    /* Ensure no underline on hover */
}

.seeds-title {
    color: #ffffff;
    margin-bottom: 20px;
    background-color: rgba(0, 0, 0, 0.7);

}

.input-group {
    width: 50%;
}



.btn-update:hover {
    background: linear-gradient(145deg, #7a8b9a, #9bb0d4);
    /* Slightly different gradient on hover */
}



ul {
    list-style-type: none;
}


.price {
    font-weight: bold;
}

@media (max-width: 600px) {
    .container {
        width: 95%;
        padding: 10px;
    }

    button {
        width: 100%;
    }
    .sorting-container {
        margin-bottom: 20px;
        width: 100%;
        text-align: left;
        margin-top: 10px !important;

    }

    .sorting-label {
        display: none;
    }

    .dropdown-toggle {
        display: block;
    }

    .sorting-buttons {
        display: none;
    }

}


.quantity-controls {
    display: flex;
    align-items: center;
    gap: 10px;
}

.quantity-controls button {
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
}

.quantity-controls button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.quantity-controls input {
    width: 50px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
}

.dropdown-menu {
    background-color: rgba(0, 0, 0, 0.7) !important;
}

.dropdown-toggle {
    background-color: rgba(255, 0, 0, 0.7) !important;
    border-radius: 20px;
    color: white;
    font-weight: 600;

}

.filter-label {
    color: white !important;
    margin: 0px !important;
    text-align: center;
    font-weight: 600;
    width: 100%;
    margin-bottom: 10px !important;
}

.form-filter-search {
    width: 70%;
    margin: 0px auto;
}

.sorting-container {
    margin-bottom: 20px;
    text-align: center;
    margin-top: 10px !important;

}

.sorting-label {
    color: white;
    font-weight: 600;
    margin-right: 10px;
}

.form-control {
    display: inline-block;
    width: auto;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    border-radius: 20px;
    padding: 5px 10px;
    border: 1px solid #ccc;
}
