{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="navigation-container">
    {% include 'navigation.html' %}
</div>
<div class="customer-service-messages-list">
    {% for conversation in conversations %}
    <a href="{% url 'communications:admin_user_chat_messages' conversation.id %}" 
       class="customer-service-message-link {% if not conversation.latest_message.seen %}unseen{% else %}seen{% endif %}"
       data-id="{{ conversation.id }}">
        <div class="customer-service-message-item">
            <div class="customer-service-user">
                <strong class="conversation-username">{{ conversation.user.username }}</strong>
            </div>
            <div class="customer-service-recent-message">
                <strong>
                {% if conversation.latest_message %}
                {{ conversation.latest_message.content|truncatewords:10 }}
                <br>
                <span class="timestamp text-white">
                    {{ conversation.latest_message.sent_at|date:"F j, Y, g:i a" }}
                </span>
                {% else %}
                No messages
                {% endif %}
                </strong>
            </div>
        </div>
    </a>
    {% empty %}
    <div class="customer-service-no-data">No conversations available.</div>
    {% endfor %}
</div>

<script>
document.addEventListener('DOMContentLoaded', function() {
    // Update the background color based on the seen status
    document.querySelectorAll('.customer-service-message-link').forEach(function(link) {
        const conversationId = link.getAttribute('data-id');
        fetch('{% url "communications:mark_as_seen" %}', {
            method: 'POST',
            headers: {
                'X-CSRFToken': '{{ csrf_token }}',
                'Content-Type': 'application/x-www-form-urlencoded',
            },
            body: new URLSearchParams({
                'conversation_id': conversationId
            })
        }).then(response => response.json())
          .then(data => {
            if (data.status === 'success') {
                link.classList.remove('unseen');
                link.classList.add('seen');
            }
        });
    });

    // Handle click event to mark as seen
    document.querySelectorAll('.customer-service-message-link').forEach(function(link) {
        link.addEventListener('click', function(event) {
            const conversationId = link.getAttribute('data-id');
            fetch('{% url "communications:mark_as_seen" %}', {
                method: 'POST',
                headers: {
                    'X-CSRFToken': '{{ csrf_token }}',
                    'Content-Type': 'application/x-www-form-urlencoded',
                },
                body: new URLSearchParams({
                    'conversation_id': conversationId
                })
            }).then(response => response.json())
              .then(data => {
                if (data.status === 'success') {
                    link.classList.remove('unseen');
                    link.classList.add('seen');
                }
            });
        });
    });
});
</script>

{% endblock %}
