{% load static %}

<!doctype html>
<html lang="en">

<head>

    {% block meta %}
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="csrf-token" content="{{ csrf_token }}">
    {% endblock %}

    {% block extra_meta %}
    {% endblock %}

    {% block corecss %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    {% endblock %}

    {% block extra_css %}


    {% endblock %}

    {% block corejs %}
    <!-- Full version of jQuery -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <!-- Popper.js -->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <!-- Bootstrap JavaScript -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>


    {% endblock %}



    {% block extra_js %}
    <!-- Include your scripts as modules -->
    <script type="module" src="{% static 'js/base.js' %}"></script>
    <script type="module" src="{% static 'js/home.js' %}" defer></script>
    <script type="module" src="{% static 'js/control.js' %}" defer></script>
    <script type="module" src="{% static 'js/seeds.js' %}" defer></script>
    <script type="module" src="{% static 'js/cart.js' %}" defer></script>
    <script type="module" src="{% static 'js/navigation.js' %}" defer></script>
    <script type="module" src="{% static 'js/checkout.js' %}" defer></script>
    <script type="module" src="{% static 'js/utils.js' %}" defer></script>
    


    <link rel="stylesheet" href="{% static 'css/navigation.css' %}">
    <link rel="stylesheet" href="{% static 'css/seeds.css' %}">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/cart.css' %}">
    <link rel="stylesheet" href="{% static 'css/accounts.css' %}">
    <link rel="stylesheet" href="{% static 'css/communications.css' %}">
    <link rel="stylesheet" href="{% static 'css/reviews.css' %}">
    <link rel="stylesheet" href="{% static 'css/checkout.css' %}">





    {% endblock %}

    <title>Future Flower Shop {% block extra_title %}{% endblock %}</title>
</head>

{% if request.user.is_superuser %}
<a class="chat-icon" id="chatIcon" href="#">
    <i class="fas fa-comments"></i>
</a>
{% else %}
<a class="chat-icon" id="chatIcon" href="{% url 'communications:chat_bot_view' %}">
    <i class="fas fa-comments"></i>
</a>
{% endif %}


<div class="header animate-herder">

    <div class="col-12 col-lg-4 my-auto py-1 py-lg-0 list-container">
        <ul class="list-inline list-unstyled text-center text-lg-right my-0">
            <li class="list-inline-item dropdown">
                <a class="text-black nav-link" href="#" id="user-options" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">
                    <div>
                        <i class="fas fa-user fa-lg"></i>
                        <!-- Conditionally display username -->
                        {% if request.user.is_authenticated %}
                        <span>{{ request.user.username }}</span>
                        {% endif %}
                    </div>
                </a>
                <div class="dropdown-menu border-0" aria-labelledby="user-options">
                    {% if request.user.is_authenticated %}
                    {% if request.user.is_superuser %}
                    <a href="{% url 'admin_dashboard' %}" class="dropdown-item">Product Management</a>
                    {% endif %}
                    <a href="{% url 'profile' %}" class="dropdown-item">My Profile</a>
                    <a href="{% url 'account_logout' %}" class="dropdown-item" id="logout-button">Logout</a>
                    {% else %}
                    <a href="{% url 'account_signup' %}" class="dropdown-item">Register</a>
                    <a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
                    {% endif %}
                </div>
            </li>
            <li class="list-inline-item">
                <a class="text-black nav-link" id="cart-button">
                    <div class="text-center icon-container">
                        <div><i class="fas mr-1 fa-shopping-bag fa-lg"></i></div>
                        <p class="my-0">
                            <span class="cart-total" id="cart-total">
                              1
                            </span>
                        </p>
                    </div>
                </a>
            </li>
        </ul>
    </div>
</div>

<div id="filter-container" class="filter-container mb-4 d-none">
    <label class="filter-label" for="categoryDropdown">Filter by:</label>
    <div id="filter-buttons" class="filter-buttons btn-group d-none d-lg-flex" role="group"
        aria-label="Category Filter">
        <button data-category="" class="custom-buttons filter-button active">All</button>
        <button data-category="rose" class="custom-buttons filter-button">Roses</button>
        <button data-category="tree" class="custom-buttons filter-button">Trees</button>
        <button data-category="bush" class="custom-buttons filter-button">Bushes</button>
        <button data-category="flower" class="custom-buttons filter-button">Flowers</button>
    </div>

    <label class="sorting-label" for="sortOptions">Sort by:</label>
    <div class="sorting-buttons btn-group d-none d-lg-flex" role="group" aria-label="Sort Options">
        <a href="#" data-sort="" class="custom-buttons active">Default</a>
        <a href="#" data-sort="price_asc" class="custom-buttons">Price: Low to High</a>
        <a href="#" data-sort="price_desc" class="custom-buttons">Price: High to Low</a>
        <a href="#" data-sort="latest" class="custom-buttons">Latest</a>
        <a href="#" data-sort="discount" class="custom-buttons">Discounted</a>
    </div>

</div>





</div>
<!-- Search Form -->
<div class="search-container" id="searchContainer">
    <form id="seed-search-form">
        <input type="search" id="seed-search-input" placeholder="Search seeds...">
        <button type="submit" id="search-button">
            <i class="fas fa-search search-icon"></i>
        </button>

        <p id="search-warning" style="color: red; display: none;">Please enter a search query.</p>

    </form>
</div>

<!-- Search Results Container -->
<div class="search-results-container" id="search-results-container">

</div>

<div id="item-added-search-message" style="display: none;"></div>



<!-- Seed Details Modal -->
<div id="search-seed-details-modal" style="display: none;">
    <div id="search-seed-details-content"> <span class="close-button">&times;</span>
    </div>
</div>




<!-- Display general messages -->
{% if messages %}
<div class="message-container" id="message-container">
    <!-- Close button for the whole message container -->
    <button class="close-button-container" aria-label="Close">
        <i class="fas fa-times"></i>
    </button>

    {% for message in messages %}
    <div class="message {{ message.tags }}">
        <!-- Directly render the message content -->
        {{ message|safe }}
    </div>
    {% endfor %}
</div>
{% endif %}


{% block page_header %}
{% endblock %}



{% block content %}

<!-- Main content here -->
{% endblock %}
<!-- Chat container -->

{% block postloadjs %}
{% endblock %}


</body>

</html>