{% load static %}

<!doctype html>
<html lang="en">

<head>

    {% block meta %}
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% endblock %}

    {% block extra_meta %}
    {% endblock %}

    {% block corecss %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    {% endblock %}

    {% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <link rel="stylesheet" href="{% static 'css/seeds.css' %}">
    <link rel="stylesheet" href="{% static 'css/cart.css' %}">
    <link rel="stylesheet" href="{% static 'css/navigation.css' %}">
    <link rel="stylesheet" href="{% static 'css/accounts.css' %}">


    {% endblock %}

    {% block corejs %}
    <!-- Full version of jQuery -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <!-- Popper.js -->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <!-- Bootstrap JavaScript -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>


    {% endblock %}



    {% block extra_js %}
    <script src="{% static 'js/home.js' %}"></script>
    <script src="{% static 'js/base.js' %}"></script>
    <script src="{% static 'js/cart.js' %}"></script>
    <script src="{% static 'js/navigation.js' %}"></script>
    <script src="{% static 'js/seeds.js' %}"></script>
    <script src="{% static 'js/accounts.js' %}"></script>

    {% endblock %}

    <title>Future Flower Shop {% block extra_title %}{% endblock %}</title>
</head>

<body>
    <div class="header animate-herder">
        <div class="col-12 col-lg-4 my-auto py-1 py-lg-0 list-container">
            <ul class="list-inline list-unstyled text-center text-lg-right my-0">
                <li class="list-inline-item dropdown">
                    <a class="text-black nav-link" href="#" id="user-options" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        <div class="text-center">
                            <div><i class="fas fa-user fa-lg"></i></div>
                            <p class="my-0">My Account</p>
                        </div>
                    </a>
                    <div class="dropdown-menu border-0" aria-labelledby="user-options">
                        {% if request.user.is_authenticated %}
                        {% if request.user.is_superuser %}
                        <a href="{% url 'admin:index' %}" class="dropdown-item">Product Management</a>
                        {% endif %}
                        <a href="{% url 'profile' %}" class="dropdown-item">My Profile</a>
                        <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
                        {% else %}
                        <a href="{% url 'account_signup' %}" class="dropdown-item">Register</a>
                        <a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
                        {% endif %}
                    </div>
                </li>
                <li class="list-inline-item">
                    <a class="{% if grand_total %}text-info font-weight-bold{% else %}text-black{% endif %} nav-link"
                        href="{% url 'cart_detail' %}">
                        <div class="text-center">
                            <div><i class="fas fa-shopping-bag fa-lg"></i></div>
                            <p class="my-0">
                                Total: <span class="cart-total">
                                    ${{ cart.get_total_price|floatformat:2 }}
                                </span>
                            </p>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <div class="content-container">
        <div class="content">

        </div>
    </div>

    </div>

    <div class="search-container" id="searchContainer">
        <form action="{% url 'search_results' %}" method="get">
            <input type="search" name="query" placeholder="Search...">
            <button type="submit">
                <i class="fas fa-search"></i>
            </button>
        </form>
    </div>
    
    {% if messages %}
    <div class="message-container" id="message-container">
        <!-- Close button for the whole message container -->
        <button class="close-button-container" aria-label="Close">
            <i class="fas fa-times"></i>
        </button>

        {% for message in messages %}
            <div class="message {{ message.tags }}">
                <!-- Directly render the message content -->
                {{ message|safe }}
            </div>
        {% endfor %}
        
        <div class="message-cart-container mt-4">
            {% if cart.items.all %}
            <!-- Cart items listing -->
            <div class="row mb-3">
                {% for item in cart.items.all %}
                <div class="col-12 mb-3 p-3 border-bottom border-1 message-cart-item">
                    <div class="row-cart-item align-items-center">
                        <div class="col-md-2 text-center">
                            <!-- Seed image -->
                            <a href="{% url 'seed_details' item.seed.id %}">
                                {% if item.seed.image %}
                                <img src="{{ item.seed.image.url }}" alt="{{ item.seed.name }}" class="cart-item-image" style="max-width: 150px;">
                                {% else %}
                                <img src="{% static 'images/default-image.jpg' %}" alt="Default Image" class="cart-item-image">
                                {% endif %}
                            </a>
                        </div>
                        
                        <div class="col-md-2">
                            <h6>Price</h6>
                            <!-- Displaying the price with a calculated discounted price -->
                            <p>${{ item.seed.calculate_discounted_price }}</p>
                        </div>
                        <div class="col-md-2">
                            <h6>Quantity</h6>
                            <!-- Displaying the quantity of items in the cart -->
                            <p>${{ item.quantity }}</p>
                        </div>
                        <div class="col-md-2 text-right">
                            <h6>Total</h6>
                            <!-- Displaying the total price for the cart item -->
                            <p>${{ item.get_total_price }}</p>
                            
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
    
            <!-- Cart totals and checkout button -->
            <div class="d-flex justify-content-between mt-4">
                <div>
                    <a href="#" class="btn btn-success btn-lg">Proceed to Checkout</a>
                </div>
            </div>
            {% else %}
            <!-- Message for empty cart -->
            <div class="text-center">
                <h3>Your cart is currently empty.</h3>
                <a href="{% url 'home' %}" class="btn btn-primary btn-lg">Start Shopping</a>
            </div>
            {% endif %}
        </div>
    </div>
{% endif %}


    


    {% block page_header %}
    {% endblock %}



    {% block content %}
    <!-- Main content here -->
    {% endblock %}

    {% block postloadjs %}
    {% endblock %}


</body>

</html>