<nav class="menu">
    <div class="nav-top-row">
        <a class="nav-link-icon shop-icon" id="view-seeds-button" href="#">
            <i class="fas fa-shopping-cart"></i>
            <p class="icon-text-style">Shopping</p>
        </a>
        <a href="{% url 'home' %}" class="nav-link-icon home-icon">
            <i class="fas fa-home"></i>
            <p class="icon-text-style">Home</p>

        </a>
        <a class="nav-link-icon"
            class="icon nav-link-icon reviews-icon" id="icon">
            <i class="fas fa-comments "></i>
            <p class="icon-text-style">Reviews</p>


            </a>
    </div>

    <div id="menuIcon" class="menu-icon">
        <span class="menu-icon-span">MENU</span>
    </div>

    <div class="nav-bottom-row">
        <a class="nav-link-icon reviews-icon">
            <i class="fas fa-star"></i>
            <p class="icon-text-style">NOT</p>

        </a>
        <a href="#" class="nav-link-icon about-us-icon" data-category="about">
            <i class="fas fa-info-circle"></i>
            <p class="icon-text-style">About</p>

        </a>
        <a href="#" class="nav-link-icon contact-us-icon" data-category="contact">
            <i class="fas fa-envelope"></i>
            <p class="icon-text-style">contact</p>

        </a>
    </div>
</nav>
