<!-- navigation.html -->
  <!-- Menu icon to toggle the navigation -->
  <div id="menuIcon" class="menu-icon"><span class="menu-icon-span">MENU</span></div>
    
<nav class="menu">

    <a href="#" class="nav-link-icon roses-icon" data-category="rose">
        <span class="icon-text">Roses</span>
    </a>
    <a href="#" class="nav-link-icon cart-icon" data-category="cart">
        <span class="icon-text">Cart</span>
    </a>
    <a href="#" class="nav-link-icon trees-icon" data-category="tree">
        <span class="icon-text">Trees</span>
    </a>
    <a href="#" class="nav-link-icon reviews-icon" data-category="reviews">
        <span class="icon-text">Reviews</span>
    </a>
    <a href="#" class="nav-link-icon bush-icon" data-category="bush">
        <span class="icon-text">Bushes</span>
    </a>
    <a href="#" class="nav-link-icon about-us-icon" data-category="about">
        <span class="icon-text">About</span>
    </a>
    <a href="#" class="nav-link-icon wild-flower-icon" data-category="Flower">
        <span class="icon-text">Flowers</span>
    </a>
    <a href="#" class="nav-link-icon contact-us-icon" data-category="contact">
        <span class="icon-text">Contact</span>
    </a>
</nav>
