<!-- navigation.html -->

  <div id="menuIcon" class="menu-icon"><span class="menu-icon-span">MENU</span></div>
    
<nav class="menu">

   

    <a href="{% url 'seed_list' %}" class="nav-link-icon shop-icon">
        <span class="icon-text">SHOP NOW</span>
    </a>
    <a href="{% url 'home' %}" class="nav-link-icon home-icon">
        <span class="icon-text">Home</span>
    </a>
    
    
    <a href="#" class="nav-link-icon reviews-icon " data-category="reviews">
        <span class="icon-text">Reviews</span>
    </a>

    <a href="#" class="nav-link-icon about-us-icon" data-category="about">
        <span class="icon-text">About</span>
    </a>
  
    <a href="#" class="nav-link-icon contact-us-icon " data-category="contact">
        <span class="icon-text">Contact</span>
    </a>
</nav>
