/* Cart container */
.cart-container {
    max-width: 1200px;
    margin: 2px auto;
    margin-top: 180px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: rgba(0, 0, 0, 0.4);
}
.delete-message-content{
    background-color: #a80303;
}
.go-to-checkout-button {
    position: fixed;
    top: 115px;
    right: 30px;
    display: none;
}

/* Cart title */
.cart-title {
    text-align: center;
    font-size: 2em;
    margin-bottom: 20px;
    color: #fff;
}

/* Cart table */
.cart-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

/* Cart header */
.cart-header {
    background-color: rgba(247, 247, 247, 0.5);
    /* Semi-transparent background */
    text-align: left;
    padding: 10px;
    font-weight: bold;
    color: #555;
    border-bottom: 2px solid #ddd;
}

/* Cart item */
.cart-item {
    border-bottom: 1px solid #ddd;
}

.cart-item-image {
    max-width: 150px;
    /* Limit the maximum width of the image */
    width: 100%;
    /* Make sure the image takes up the full width of its container */
    height: auto;
    /* Maintain aspect ratio */
    border-radius: 8px;
    /* Add rounded corners to the image */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    /* Add a subtle shadow for depth */
    object-fit: cover;
    /* Ensure the image covers the area without stretching */
    transition: transform 0.3s ease-in-out;
    /* Smooth zoom effect on hover */
}

.cart-item-image:hover {
    transform: scale(1.05);
    /* Slightly zoom the image on hover */
}


/* Cart item name */
.cart-item-name span {
    font-weight: bold;
    color: #fff;
}

.cart-item-name p {
    font-size: 0.9em;
    color: #777;
}

/* Cart item price and total */
.cart-item-price,
.cart-item-total {
    font-weight: bold;
    color: #fff;
}

/* Quantity input */
.cart-item-quantity .quantity-input {
    width: 60px;
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
    text-align: center;
}

/* Buttons */
.btn {
    display: inline-block;
    padding: 8px 12px;
    margin-top: 10px;
    font-size: 14px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    /* Metallic gradient */
    text-align: center;
    border-radius: 0px;
    background-color: rgba(0, 0, 0, 0.7) !important;
    text-decoration: none;
    border: 5px solid transparent; /* Transparent border for gradient */
    background-clip: padding-box; /* Ensures the background does not fill the border */
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.3),  /* Inner glow */
                0 0 15px rgba(255, 255, 255, 0.2), /* Middle glow */
                0 0 25px rgba(255, 255, 255, 0.1); /* Outer glow */
    
}
.btn:hover {
    background: none;
    background-color: rgba(81, 0, 255, 0.1) !important;
    color: white;
    transition: filter 0.7s ease-in-out; /* Smooth transition */
    filter: drop-shadow(5px 12px 24px rgba(200, 200, 200, 0.8)) 
            drop-shadow(0 0 15px rgba(220, 220, 220, 0.6)) 
            drop-shadow(0 0 25px rgba(240, 240, 240, 0.4));
    
}

.btn-update {
    background: linear-gradient(145deg, #8b9dc3, #b0c6e0);
    /* Metallic blue gradient */
    border: 3px solid #33d900 !important;
}

.btn-update:hover {
    background: linear-gradient(145deg, #7a8b9a, #9bb0d4);
    /* Slightly different gradient on hover */
}

.btn-remove {
    background: linear-gradient(145deg, #e9b2b2, #d9534f);
    /* Metallic red gradient */
    border: 1px solid #d9534f;
}

.btn-remove:hover {
    background: linear-gradient(145deg, #d9534f, #c9302c);
    /* Slightly different gradient on hover */
}

/* Cart summary */
.cart-summary {
    margin-top: 20px;
    text-align: right;
}

/* Cart summary h3 */
.cart-summary h3 {
    margin: 10px 0;
    font-size: 1.5em;
    color: #fff;
}

.my-0 {
    font-size: 1.2rem;
}

/* Cart total and discount */
.cart-total {
    color: #d9534f;
    font-size: 1.2rem;
}

.cart-discount {
    color: #5cb85c;
}

/* Checkout actions */
.checkout-actions {
    margin-top: 20px;
}



/* Empty cart message h3 */
.empty-cart-message h3 {
    color: #fff;
    margin-bottom: 20px;
}

/* Shop button */
.btn-shop {
    background-color: #5bc0de;
}

.btn-shop:hover {
    background-color: #31b0d5;
}

/* Remove all background and set icon with red outline */
.remove-from-cart-form {
    display: inline-block;
    margin: 0;
    padding: 0;
    border: none;
    background: transparent;

}

.remove-from-cart-button {
    font-size: 1rem;
    /* Adjust the size of the trash bin icon */
    color: red;
    /* Set the color of the icon to red */
    border: 3px solid rgba(255, 0, 0, 0.4);
    /* Red outline */
    border-radius: 50%;
    /* Make the outline circular */
    height: 45px;
    width: 45px;
    padding: 2px;
    background-color: transparent;
    /* Ensure no background color */
    transition: background-color 0.3s ease;
    /* Add a transition for hover effect */
}

.item-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.remove-from-cart-button:hover {
    background-color: rgba(255, 0, 0, 0.1);
    /* Light red background on hover */
}


/* Define the shake and enlarge animation */
@keyframes shakeAndEnlarge {
    0% {
        transform: scale(1) translateX(0);
    }

    25% {
        transform: scale(1.05) translateX(-2px);
    }

    50% {
        transform: scale(1.05) translateX(2px);
    }

    75% {
        transform: scale(1.05) translateX(-2px);
    }

    100% {
        transform: scale(1) translateX(0);
    }
}

/* Apply the animation class */
.animate-shake-enlarge {
    animation: shakeAndEnlarge 0.5s ease;
    /* Adjust timing and easing as needed */
    z-index: 9999;
    /* Ensure it is above other content */
}

.my-message {
    text-align: right;
    background-color: #e1ffc7;
}

.their-message {
    text-align: left;
    background-color: #f0f0f0;
}

.cart-card {
    background-color: rgba(0, 0, 0, 0.4) !important;
    color: white !important;
}

.cart-item {
    display: flex;
    flex-direction: column;
    padding: 15px;
    border-bottom: 3px solid #ddd;
    margin-bottom: 15px;
    align-self: center;
    align-items: center;
    background-color: rgba(107, 174 ,243, 0.2);
    width: 100%;
    justify-content: space-evenly;
    box-shadow: 0px 5px 4px rgba(43, 42, 42, 0.5);
}

#cart-items-container {
    width: 100%;
    margin: 0px auto;
}

.empty-cart-message {

    display: flex;
    align-self: center;
    width: 100%;
    flex-direction: column;
}

.empty-cart-message-button {
    width: 30%;
    margin: 10px auto;
}

.item-info {
    display: flex;
    align-items: center;
    flex-direction: column;

    gap: 15px;
    width: 100%;
    justify-content: space-between;
}

#update-item-messages,
#delete-item-messages {
    position: fixed;
    top: 50%;
    /* Center vertically */
    left: 50%;
    /* Center horizontally */
    transform: translate(-50%, -50%);
    /* Adjust for exact center */
    display: flex;
    /* Keep flex to ensure centering */
    align-items: center;
    /* Center content vertically */
    justify-content: center;
    /* Center content horizontally */
    transition: opacity 0.4s ease, visibility 0.4s ease;
    /* Smooth fade-in effect */
    color: white !important;
    z-index: 1000;
    /* Ensure it stays on top */
    height: 333px;
    width: 500px;
    text-align: center;
    opacity: 0;
    /* Initially hidden */
    visibility: hidden;
    /* Initially hidden */
    pointer-events: none;
    background-color: rgba(218, 0, 0, 0.9);
    /* Prevent interaction when hidden */

}



#update-item-messages.show {
    opacity: 1;
    /* Make visible */
    visibility: visible;
    /* Make visible */
    pointer-events: auto;
    /* Allow interaction when visible */
}

#delete-item-messages.show {
    opacity: 1;
    /* Make visible */
    visibility: visible;
    /* Make visible */
    pointer-events: auto;
    /* Allow interaction when visible */
}

#update-item-messages .message-text {
    font-size: 1.5rem;
    /* Increase the font size */
    font-weight: bold;
    /* Make the text bold */
    color: #fff;
    /* White text */
    margin-top: 20px;
    /* Space below the button */
    background-color: rgba(140, 0, 255, 0.3);
    /* Optional background styling */
    border-top: 2px solid rgba(249, 249, 249, 0.5);
    border-bottom: 2px solid rgba(249, 249, 249, 0.5);

    width: 100%;
}


.message-text {
    font-size: 1.5rem;
    /* Increase the font size */
    font-weight: bold;
    /* Make the text bold */
    color: #fff;
    /* White text */
    margin-top: 20px;
    /* Space below the button */
    background-color: rgba(140, 0, 255, 0.3);
    /* Optional background styling */
    border-top: 2px solid rgba(249, 249, 249, 0.5);
    border-bottom: 2px solid rgba(249, 249, 249, 0.5);
    width: 100%;
}

.flower-message-content {
    background-color: rgba(0, 0, 0, 0.5);
    /* Background for text for readability */
    padding: 10px;
    border-radius: 5px;
}

.flower-name {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.flower-price,
.flower-quantity,
.flower-total {
    font-size: 1.2em;
    margin: 5px 0;
}

.flower-price span,
.flower-quantity span,
.flower-total span {
    color: #ffcc00;
    /* Highlighted color for prices, quantities, and totals */
}

button.close-button-cart {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    color: white;
    font-size: 1.5em;
    cursor: pointer;
}

button.close-button-cart:hover {
    color: #ffcc00;
    /* Hover effect for the close button */
}



.delete-message-content {
    background-color: rgba(0, 0, 0, 0.5);
    /* Background for text for readability */
    padding: 10px;
    border-radius: 5px;
}

.delete-confirm-buttons {
    margin-top: 10px;
}

.delete-confirm-buttons .btn {
    padding: 10px 20px;
    margin: 0 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.delete-confirm-buttons .delete-btn {
    background-color: red;
    color: white;
}

.delete-confirm-buttons .cancel-btn {
    background-color: grey;
    color: white;
}

.quantity-update-display {
    display: flex;
    flex-direction: column;

}

.edit-quantity-button-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 5px;
}

.item-image {
    max-width: 120px;
    height: auto;
    border-radius: 5px;
}

.item-details {
    flex: 1;
}

.item-details p {
    margin: 0;
    padding: 0;
}

.quantity-input {
    width: 64px;

    text-align: center;
}

.btn-update-quantity {
    background: none;
    border: none;
    cursor: pointer;
    color: #3b9e02;
    font-size: 1.2em;
}

.btn-delete-item {
    background: none;
    border: none;
    cursor: pointer;
    color: #a80303;
    font-size: 1.2em;
}

.btn-update-quantity:hover,
.btn-delete-item:hover {
    color: #0056b3;
    /* Change this color to match your design */
}

.item-image {
    width: 100px;
    /* Adjust width as needed */
    height: auto;
    margin-right: 15px;
    max-width: 70px;
    max-height: 50px;
}

.total-cart-price-value {
    color: rgb(44, 117, 1);

}

.total-price-cart {
    display: block;
    color: white;
    font-size: 2rem;
    text-align: end;
}

@media (min-width: 768px) {
    .item-info {
        flex-direction: row;
    }
}