

/* Mobile Responsiveness */
@media (max-width: 768px) {
    .item-container-checkout {
        flex-direction: column;
        text-align: center;
    }

    .checkout-item-details,
    .checkout-cart-item-quantity {
        margin-bottom: 10px;
    }

}

@media screen and (min-width: 768px) {

    .about-container {
        height: 500px;
        width: 500px;}

    .header.animate-herder .list-container ul {
      
        top: 30px;
        right: 10px;
       
    }
    .filter-container {
       
        width: 65%; 
        }
    #chat-container {
      
        width: 515px;
        height: 515px;
    }
    .search-wrapper {
    
        left: 50%;

       
    }

    .search-wrapper {
        position: fixed;
        left: 50%
    }

    #filter-toggle {
        top: 0px;
        width: 150px;
        top: 0px;
    }

    .navigation-container.bottom-right {

        top: 75%;
        left: 80%;
    }


}
@media screen and (min-width: 1023px) {

    .about-container {
        height: 600px;
        width: 600px;}

    .filter-container {
        top: 150px !important;
      
        width: 40%;}
        
    }

@media screen and (min-width: 1439px) {

    .about-container {
        height: 700px;
        width: 700px;}
        .filter-container {
            top: 150px !important;
          
            width: 40%;}
            
        }
    
@media screen and (min-width: 1800px) {

    
    .about-container {
        height: 700px;
        width: 700px;}

    .filter-container {
        top: 150px !important;
      
        width: 40%;}
        
   
    .custom-buttons {
        font-size: 1.2rem; /* Make button font smaller */
       
    }
    .chat-message {
       
        font-size: 1.5rem;
      
    }
    .modal-content {
    
        max-width: 1000px;}


    .cart-item {
        display: flex;
        justify-content: space-between;
        text-align: center;
        align-items: center;
        padding: 20px;
        margin-bottom: 20px;
        border: 1px solid #ddd;
        border-radius: 10px;
        max-width: 1200px;
    }

    .item-info {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;
        height: 100%;
        flex: 1;
    }

    .item-image {
        min-width: 220px;
        /* Larger image size for bigger screens */
        min-height: 150px;
        /* Larger image size for bigger screens */
        height: auto;
        margin-right: 5px;
    }

    .item-font {
        font-size: 1.2rem;
        margin-right: 15px;
    }

    .quantity-update-display {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-left: 20px;
    }

    .quantity-update-display .text-center {
        text-align: center;
        margin-left: 10px;
        font-weight: bold;
    }

    .cart-item p {
        margin-bottom: 10px;
        font-size: 2rem;
    }


    /* Styling the total price to make it more prominent */
    .cart-item p:last-child {
        font-size: 2rem;
        font-weight: bold;
        color: #228604;
    }

    .my-0 {
        font-size: 2rem;
    }

    #order-total,
    #delivery-fee,
    #grand-total {
        font-size: 2rem;
        font-weight: bold;
        color: white;
    }

    .checkout-row {
        min-height: 100%;
    }

    .form-control {

        border: 2px solid #ccc;
        height: 90px;
        font-size: 2rem;
    }

    .fieldset-label {
        font-size: 1.5rem !important;

    }

    .checkout-button-font {
        background-color: #228604 !important;
        font-size: 2rem;
        width: 250px;
    }

    .form-check-label,
    .form-check-input {
        font-size: 1.5rem;
    }

    .order-summary {
        font-size: 2rem;
    }

    #cart-count {
        font-size: 2rem;

    }

    .edit-cart-button {
        font-size: 2rem !important;
    }

    .admin-message-icon {
        font-size: 2rem !important;
    }

    .admin-dashboard-header h2 {
        font-size: 3.25rem;
        /* Increased by 30% */
    }

    .admin-dashboard-section-title h3 {
        font-size: 2.6rem;
        /* Increased by 30% */
    }

    .review-card .card-title {
        font-size: 2.55rem;
        /* Increased by 30% */
    }

    .review-card .card-text {
        font-size: 1.56rem;
        /* Increased by 30% */
    }

    .review-card .text-muted {
        font-size: 1.17rem;
        /* Increased by 30% */
    }


    .modal-content-admin h3 {
        font-size: 2.6rem;
        /* Increased by 30% */
    }

    .form-group label {
        font-size: 1.56rem;
        /* Increased by 30% */
    }

    .form-group input,
    .form-group textarea,
    .form-group select {
        font-size: 1.56rem;
        /* Increased by 30% */
    }

    .alert {
        font-size: 1.56rem;
        /* Increased by 30% */
    }

    .modal-box-content li {
        font-size: 1.56rem;
        /* Increased by 30% */
    }

    /* Increase font size for modal message */
    .modal-box-content p {
        font-size: 24px;
        /* Adjust size as needed */
    }

    /* Increase font size for the close button */
    .button-close-modal {
        font-size: 20px;
        /* Adjust size as needed */
    }

    /* Increase font size for seed list items */
    .seed-list-item {
        font-size: 20px;
        /* Adjust size as needed */
    }

    /* Increase font size for seed name */
    .seed-name {
        font-size: 2rem;
        /* Adjust size as needed */
    }

    /* Increase font size for edit link */
    .edit-link {
        font-size: 2rem;
        /* Adjust size as needed */
    }

    /* Increase font size for delete link */
    .delete-link {
        font-size: 2rem;
        /* Adjust size as needed */
    }

    .admin-dashboard-section-title {
        font-size: 3rem;


    }

    /* Increase font size for modal input labels */
    label {
        font-size: 20px;
        /* Adjust size as needed */
    }

    /* Increase font size for modal input fields */
    input[type="text"],
    input[type="number"],
    textarea {
        font-size: 20px;
        /* Adjust size as needed */
    }

    /* Increase font size for any form buttons */
    button {
        font-size: 20px;
        /* Adjust size as needed */
    }

    .btn {
        font-size: 1.5rem;
    }

    .menu-icon {
        width: 350px;
        height: 350px;
    }

    .nav-link-icon {

        width: 130px;
    }

    .menu-icon-span {

        font-size: 3rem;
    }

    .super-chat-window {
        width: 60%;
    }

    .navigation-container.bottom-right {

        top: 85%;
        left: 85%;

    }

    .chat-footer-input {
        left: 50%;
        transform: translateX(-50%);
    }

    #chat-container {
        font-size: 1.5rem;
        width: 715px;
        height: 715px;
    }
    .about-description,.vision-description,.values-description,.community-description,.testimonial {
        font-size: 1.5rem;
        
    }
    .contact-content {
        width: 700px;
        height: 700px;
        text-align: center;
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-size: xx-large;
    }

    .social-icon {
        width: 80px;
        /* Adjust icon size */
        height: 80px;
        /* Adjust icon size */
        transition: transform 0.3s;
        /* Smooth scale effect */
    
    }

    /* Right-aligned messages (sent messages) */
.message-right {
   
    margin-left: 300px !important;
}

/* Left-aligned messages (received messages) */
.message-left {
 
    margin-right: 300px !important;

}

}