.home-container {
  display: flex;
  flex-direction: column;
  top: 250px;
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100vh;
  justify-content: center;
}

.navigation-container {
  display: flex;
  position: fixed;
  top: 0px;
  z-index: 1001;
  width: 100%;
  background-color: rgba(0, 247, 255, 0.5);
  transition: opacity 0.3s ease, transform 0.3s ease;
  border-bottom: 2px solid white;
  padding-bottom: 15px;
}

.roses-icon {
  border-radius: 50%;
  height: 90px;
  background-size: cover;
  background-position: center;
}

.wild-flower-icon {
  border-radius: 50%;
  height: 90px;
  background-size: cover;
  background-position: center;
}

.contact-us-icon,
.home-icon,
.trees-icon,
.about-us-icon,
.bush-icon,
.reviews-icon {
  border-radius: 50%;
  height: 90px;
  background-size: cover;
  background-position: center;
  font-weight: 700;
  font-size: 0.7rem;
  color: black !important;
}

.blur-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  backdrop-filter: blur(8px);
  /* Apply blur effect */
  background-color: rgba(0, 0, 0, 0.4);
  /* Optional dark overlay */
  z-index: 9;
  /* Below the navigation container */
  visibility: hidden;
  /* Hidden by default */
  opacity: 0;
  transition: opacity 0.5s ease;
  /* Smooth transition */
}
.profile-header {
  position: relative;
  z-index: 100;
}
/* Show blur effect when active */
.active-blur .blur-overlay {
  visibility: visible;
  opacity: 1;
}

body.active-blur::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  /* Add a semi-transparent overlay */
  backdrop-filter: blur(8px);
  /* Apply blur effect */
  z-index: 5;
  /* Make sure it's below the navigation but above other content */
  pointer-events: none;
  /* Allow interactions with the navigation menu */
}
.menu-text {
  text-align: center;
}
.menu-icon {
  background-image: url("/static/images/sunflower.webp");
  background-size: cover;
  background-position: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  padding: 15px;
  cursor: pointer;
  display: flex;
  align-items: center;
  z-index: 99999;
  pointer-events: auto;
  justify-content: center;
  margin: 20px 0;
  /* Space above and below the menu icon */
  animation: popOut 1s ease-out forwards;
  /* Apply the pop-out animation */
}

.fixed-menu-icon {
  position: fixed;
  right: 5px;
  top: 10px;
  display: flex;
  flex-direction: column;
  z-index: 876876876;
}

.fixed-menu-icon img {
  width: 50px;
}

.menu {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* Center the menu icon */
  transition: all 0.3s ease;
}

/* Right-aligned navigation column */
.right-nav-column {
  position: relative;
  top: 90px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  visibility: hidden;
  transition: right 0.6s ease;
  opacity: 0;
}

.right-nav-column.visible {
  visibility: visible;
  opacity: 1;
}

.right-nav-column a {
  cursor: pointer;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: transparent;
}

.right-nav-column a:hover .icon-img {
  transform: scale(1.1);
  /* Optional: Adds a slight zoom effect on hover */
}

.right-nav-column .icon-img {
  width: 40px;
  /* Adjust icon size as needed */
  height: auto;
  transition: transform 0.2s ease-in-out;
}

.right-nav-column .icon-label {
  font-size: 10px;
  color: white;
  margin: 0px !important;
}

/* Basic styling for the menu icon */
.menu-icon-wrapper {
  position: relative;
  /* Allows for positioning of the text */
  display: inline-block;
  /* Ensures proper alignment and hover effects */
  cursor: pointer;
  /* Change cursor to pointer on hover */
}

/* Styling for the text */
.menu-icon-span {
  position: absolute;
  /* Position the text in the center */
  top: 50%;
  /* Center vertically */
  left: 50%;
  /* Center horizontally */
  transform: translate(-50%, -50%);
  /* Adjust positioning */
  opacity: 0;
  /* Start hidden */
  transition: opacity 0.3s ease;
  /* Smooth transition for opacity */
  color: white;
  /* Text color */
  font-size: 1rem;
  /* Text size */
  text-shadow: 0 0 3px black;
  /* Initial outline effect */
}

/* Ripple effect */
.menu-icon-wrapper:hover .menu-icon-span {
  animation: ripple 1.5s forwards;
  /* Trigger ripple effect on hover */
}

/* Animation for the ripple effect with steps every 10% */
@keyframes ripple {
  0% {
    opacity: 1;
    /* Fully visible at the start */
    transform: translate(-50%, -50%) scale(1);
    /* Start at original size */
  }

  10% {
    opacity: 1;
    /* Still fully visible */
    transform: translate(-50%, -50%) scale(1.1);
    /* Slightly scale up */
  }

  20% {
    opacity: 1;
    /* Still fully visible */
    transform: translate(-50%, -50%) scale(1.2);
    /* More scaling */
  }

  30% {
    opacity: 1;
    /* Still fully visible */
    transform: translate(-50%, -50%) scale(1.3);
    /* Further scaling */
  }

  40% {
    opacity: 1;
    /* Still fully visible */
    transform: translate(-50%, -50%) scale(1.4);
    /* Almost max scaling */
  }

  80% {
    opacity: 0;
    /* Start fading out */
    transform: translate(-50%, -50%) scale(1.5);
    /* Max scale */
  }

  100% {
    opacity: 0;
    /* Fully faded out */
    transform: translate(-50%, -50%) scale(1.5);
    /* Keep max scale */
  }
}

/* Add an outline effect after ripple */
.menu-icon-wrapper:hover .menu-icon-span.outline {
  text-shadow: 0 0 5px white, /* Creates the outline effect */ 0 0 10px white,
    0 0 15px white;
  /* Increase the size of the outline */
}

/* Enlarge effect on hover */
.menu:hover {
  transform: scale(1.2);
  /* Enlarge the entire wrapper (icon + text) by 20% */
}

.nav-link-icon:hover {
  transform: scale(1.2);
  /* Enlarge the entire wrapper (icon + text) by 20% */
}

.nav-top-row,
.nav-bottom-row {
  display: none;
  /* Hide icon rows initially */
  flex-direction: row;
  /* Layout icons in a row */
  position: relative;
  transition: transform 0.3s ease;
}

.nav-link-icon {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  color: white;
  padding: 0px;
  margin: 5px 0;
  color: white;
  width: 50px;
  text-align: center;
  text-decoration: none !important;
  opacity: 0;
  position: relative;
  /* Required for the pseudo-element */
  overflow: hidden;
  /* Hide overflow from the glow */
  transition: color 1.3s ease-in;
}

.icon-image {
  font-size: 2rem;
  /* Adjust icon size */
  color: white;
  /* Icon color */
  transition: opacity 2.3s ease;
  /* Smooth transition for icon */
  opacity: 0.4;
}

.icon-text-style {
  font-family: "Georgia", serif;
  font-family: "Roboto", sans-serif;
  font-family: "Lobster", cursive;
  color: white;
  /* Text color */
  font-size: 12px;
  /* Text size */
  text-shadow: 0 0 3px black;
  text-align: center;
}

/* Animation to show and hide the element */
@keyframes blink-animation {
  0% {
    opacity: 0;
    /* Hidden */
  }

  25% {
    opacity: 0.4;
    /* Visible for a portion of the time */
  }

  50% {
    opacity: 0;
    /* Hidden again */
  }
}

/* Filter shadow effect on hover */
.nav-link-icon:hover .icon-image {
  transform: rotate(5deg);
  opacity: 1;
}

/* Show the text when hovering over the link */
.nav-link-icon:hover .icon-text-style {
  opacity: 1;
}

.nav-link-icon i {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  border-radius: 50%;
  font-size: 1rem;
  text-align: center;
}
