{% extends "base.html" %}
{% load static %}

{% block title %}Admin Dashboard{% endblock %}

{% block content %}

<!--
This page represents the Admin Dashboard where an administrator can manage various aspects of the website, such as approving/rejecting reviews and comments, managing seeds, and sending newsletters. It is divided into several sections, each with specific functionalities.

Key Sections:
1. **Admin Dashboard Header**:
   - Contains the page title, which clearly indicates the page's purpose as the Admin Dashboard.

2. **Messages Section**:
   - Displays any messages that the admin needs to be aware of. These messages may contain notifications of various events and can be closed by clicking a close button.

3. **Pending Reviews Section**:
   - Displays all the reviews that are pending approval from the admin. Each review is listed with details including the reviewer's name, comment, and creation date. Admins can approve, reject, or delete reviews from here.

4. **Pending Comments Section**:
   - Similar to the pending reviews section, but this section handles comments left on reviews. Admins can approve, reject, or delete comments.

5. **Seed Management Section**:
   - Displays all seeds listed in the system. Admins can add new seeds, edit existing ones, or delete them. Each seed entry includes details like the seed's name, scientific name, price, stock level, and image.

6. **Send Newsletter Section**:
   - A form where the admin can send out newsletters. The admin can define the subject and message content, which will be sent to users.

7. **Edit Seed Modal**:
   - A modal that allows the admin to edit details of a seed, such as its name, scientific name, price, discount, planting months, and image.

Each section contains relevant action buttons for the admin to perform tasks, including approve, reject, delete, edit, and add new entries.

-->

<div class="admin-dashboard-container p-1 d-flex flex-column align-items-center w-100">
    <div class="admin-dashboard-header dark-rgba-background d-flex justify-content-center align-items-center text-center mb-2">
        <h2 class="text-white m-2 p-2 text-bold">Admin Dashboard</h2>
    </div>
    {% if messages %}
    <ul class="modal-box-content list-unstyled d-flex justify-content-between dark-rgba-background">
        {% for message in messages %}
            <li class="d-flex justify-content-between alert {% if message.tags %}alert-{{ message.tags }}{% endif %} vw-100">
                {{ message }}
                <button class="close-message border-0 bg-transparent text-white" onclick="this.parentElement.style.display='none';">&times;</button>
            </li>
        {% endfor %}
    </ul>
{% endif %}

<!-- Pending Reviews Section -->
<section class="w-100">
        <div class="admin-dashboard-section-title">
            <h3 class="text-center  dark-rgba-background">Pending Reviews</h3>
        </div>

        <div class="row m-1">
            {% for review in pending_reviews %}
                <div class="col-md-4 mb-3 p-0">
                    <div class="review-card dark-rgba-background">
                        <div class="card-body">
                            <p class="card-text">
                                <strong>Review for:</strong> {{ review.seed.name }}
                            </p>
                            <h5 class="card-title text-capitalize">{{ review.user.username }}</h5>
                            <p class="card-text font-italic">" {{ review.comment }} "</p>
                            <p class="card-text"><small class="text-muted">Created At: {{ review.created_at }}</small></p>
                            <p class="card-text"><small class="text-muted">Updated At: {{ review.updated_at }}</small></p>
                            <div class="d-flex justify-content-center">
                                <a href="{% url 'custom_accounts:approve_review' review.id %}" class="btn-success btn-sm mr-1">Approve</a>
                                <a href="{% url 'custom_accounts:reject_review' review.id %}" class=" btn-warning btn-sm mr-1">Reject</a>
                                <a href="{% url 'custom_accounts:delete_review' review.id %}" class=" btn-danger btn-sm" onclick="return confirm('Are you sure?');">Delete</a>
                            </div>
                        </div>
                    </div>
                </div>

            {% empty %}
                <div class="col-12">
                    <div class="alert alert-info m-2" role="alert">No pending reviews.</div>
                </div>
            {% endfor %}
        </div>
</section>

<!-- Pending Comments Section -->
<section class="w-100">
        <div class="admin-dashboard-section-title p-1">
            <h3  class="dark-rgba-background text-center">Pending Comments</h3>
        </div>

        <div class="row m-1">
            {% for comment in pending_comments %}
                <div class="col-md-4 mb-3 p-0">
                    <div class="review-card">
                        <div class="card-body dark-rgba-background">
                            <p class="card-text">
                                <strong >Comment on <span class="text-capitalize">{{ comment.review.user.username }}'s </span>{{ review.seed.name }} review</strong> 
                            </p>
                            <h5 class="card-title">{{ comment.user.username }}</h5>
                            <p class="card-text font-italic">" {{ comment.text }} "</p>
                            <p class="card-text"><small class="text-muted">Created At: {{ comment.created_at }}</small></p>
                            <p class="card-text"><small class="text-muted">Updated At: {{ comment.updated_at }}</small></p>
                            <div class="d-flex justify-content-center">
                                <a href="{% url 'custom_accounts:approve_comment' comment.id %}" class="btn-success btn-sm mr-1">Approve</a>
                                <a href="{% url 'custom_accounts:reject_comment' comment.id %}" class="btn-warning btn-sm mr-1">Reject</a>
                                <a href="{% url 'custom_accounts:delete_comment' comment.id %}" class="btn-danger btn-sm" onclick="return confirm('Are you sure?');">Delete</a>
                            </div>
                        </div>
                    </div>
                </div>
            {% empty %}
                <div class="col-12">
                    <div class="alert alert-info m-2" role="alert">No pending comments.</div>
                </div>
            {% endfor %}
        </div>
</section>


<!-- Seed Management Section -->
<section class="w-100">
    <h3 class="admin-dashboard-section-title dark-rgba-background text-center p-2">Seed Management</h3>

    <div class="d-flex justify-content-end mb-3 mr-2">
        <a href="{% url 'seeds:create_seed' %}" class="btn btn-primary">
            🌱 Add New Seed
        </a>
    </div>

    <div class="container">
        <div class="row m-0">
            {% for seed in seeds %}
                <!-- Each Seed Item in Grid -->
                <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4">
                    <div class="list-group-item d-flex flex-column justify-content-between align-items-center dark-rgba-background">
                        <div class="d-flex flex-column align-items-center mb-4">
                            {% if seed.image %}
                            <img
                              src="{{ seed.image.url }}"
                              class="card-img-top seed-image"
                              alt="{{ seed.name }}"
                            />
                            {% else %}
                            <img
                              src="{% static 'images/default-seed.jpg' %}"
                              class="card-img-top"
                              alt="Default Seed Image"
                            />
                            {% endif %}
                            <strong>{{ seed.name }}</strong> - {{ seed.scientific_name }}
                            <p class="mb-0 text-muted">Price: ${{ seed.calculate_discounted_price }}</p>
                            <p class="mb-0 text-muted">Stock: {{ seed.in_stock_number }}</p>
                        </div>
                        <div>
                            <a href="{% url 'seeds:edit_seed' seed.id %}" class="btn btn-sm btn-warning">Edit</a>
                            <a href="{% url 'seeds:delete_seed' seed.id %}" class="btn btn-sm btn-danger">Delete</a>
                        </div>
                    </div>
                </div>
            {% empty %}
                <div class="col-12">
                    <div class="list-group-item text-muted">No seeds available.</div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>

<!-- Admin Dashboard Section -->
<section class="admin-dashboard-section-newsletter dark-rgba-background pb-3 w-100">
    <h3 class="admin-dashboard-section-title">Send Newsletter</h3>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-6"> <!-- This will make the form half the width on medium screens and larger -->
                <form method="post" action="{% url 'custom_accounts:send_newsletter' %}">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="newsletter-subject">Subject</label>
                        <input type="text" id="newsletter-subject" name="subject" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label for="newsletter-message">Message</label>
                        <textarea id="newsletter-message" name="message" class="form-control" rows="4" required></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">Send Newsletter</button>
                </form>
            </div>
        </div>
    </div>
</section>

 <!-- Edit Seed Modal -->
<div id="editSeedModal" class="edit-seed-modal" style="display: none; overflow-y: scroll;">
    <div class="modal-content-admin seed-modal-content">
        <span class="close edit-seed-modal-close" onclick="document.getElementById('editSeedModal').style.display='none'">&times;</span>
        <h3>Edit Seed</h3>
        <form method="post" action="" enctype="multipart/form-data" id="edit-seed-form">
            {% csrf_token %}
            <input type="hidden" name="id" id="edit-seed-id">

            <div class="form-group">
                <label for="edit-seed-name">Seed Name</label>
                <input type="text" id="edit-seed-name" name="name" class="form-control" required>
            </div>

            <div class="form-group">
                <label for="edit-seed-scientific-name">Scientific Name</label>
                <input type="text" id="edit-seed-scientific-name" name="scientific_name" class="form-control" required>
            </div>

            <div class="form-group">
                <label for="edit-seed-description">Description</label>
                <textarea id="edit-seed-description" name="description" class="form-control" rows="4" required></textarea>
            </div>

            <div class="form-group">
                <label for="edit-seed-price">Price ($)</label>
                <input type="number" id="edit-seed-price" name="price" step="0.01" class="form-control" required>
            </div>

            <div class="form-group">
                <label for="edit-seed-discount">Discount (%)</label>
                <input type="number" id="edit-seed-discount" name="discount" step="0.01" class="form-control">
            </div>

            <div class="form-group">
                <label for="edit-planting_months_from">Planting Months From</label>
                <input type="number" id="edit-planting_months_from" name="planting_months_from" min="1" max="12" class="form-control">
            </div>

            <div class="form-group">
                <label for="edit-planting_months_to">Planting Months To</label>
                <input type="number" id="edit-planting_months_to" name="planting_months_to" min="1" max="12" class="form-control">
            </div>

            <div class="form-group">
                <label for="edit-flowering_months_from">Flowering Months From</label>
                <input type="number" id="edit-flowering_months_from" name="flowering_months_from" min="1" max="12" class="form-control">
            </div>

            <div class="form-group">
                <label for="edit-flowering_months_to">Flowering Months To</label>
                <input type="number" id="edit-flowering_months_to" name="flowering_months_to" min="1" max="12" class="form-control">
            </div>

            <div class="form-group">
                <label for="edit-height_from">Height From (cm)</label>
                <input type="number" id="edit-height_from" name="height_from" step="0.01" class="form-control">
            </div>

            <div class="form-group">
                <label for="edit-height_to">Height To (cm)</label>
                <input type="number" id="edit-height_to" name="height_to" step="0.01" class="form-control">
            </div>

            <div class="form-group">
                <label for="edit-sun_preference">Sun Preference</label>
                <input type="text" id="edit-sun_preference" name="sun_preference" class="form-control">
            </div>

            <div class="form-group">
                <label for="edit-in-stock">In Stock?</label>
                <input type="checkbox" id="edit-in-stock" name="is_in_stock">
            </div>

            <div class="form-group">
                <label for="edit-seed-image">Seed Image</label>
                <input type="file" id="edit-seed-image" name="image" class="form-control">
                <small class="form-text text-muted">Leave empty if you do not want to change the image.</small>
            </div>

            <button type="submit" class="btn btn-primary">Update Seed</button>
        </form>
    </div>
</div>

  
</div>

<script>
    // Get modal and buttons
    let modal = document.getElementById("addSeedModal");
    let addSeedBtn = document.getElementById("add-seed-btn");
    let closeBtn = document.querySelector(".edit-seed-modal-close");

    
    // Open modal
    addSeedBtn.onclick = function () {
        modal.style.display = "block";
    }

    // Close modal when the user clicks the close button
    closeBtn.onclick = function () {
        modal.style.display = "none";
    }

    // Close modal when the user clicks outside the modal content
    window.onclick = function (event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }
</script>

{% endblock %}