{% extends "base.html" %}
{% load socialaccount %}
{% load static %}
{% block content %}

<div class="navigation-container">
    {% include 'navigation.html' %}
    </div>
<div class="form-container">
 
 

    <h2 class="login-heading text-white">Login</h2>
    <div class="form-login">
       
        <form method="post" id="login-form">
            {% csrf_token %}
            <input type="text" id="username" name="username" required>
            <input type="password" id="password" name="password" required>
            <button type="submit" id="login-button" class="btn login-button">Login</button>
        </form>
        
    </div>
    <p class="registration-link">Don't have an account? <a href="{% url 'account_signup' %}">Register here</a></p>

</div>
    {% endblock %}