{% extends "base.html" %}
{% load static %}

{% block content %}


<!-- Display form errors -->
{% if form.errors %}
    <div class="form-errors">
        {% for field in form %}
            {% if field.errors %}
                <div class="field-errors">
                    {% for error in field.errors %}
                        <div class="error">{{ error }}</div>
                    {% endfor %}
                </div>
            {% endif %}
        {% endfor %}
        {% if form.non_field_errors %}
            <div class="form-errors">
                {% for error in form.non_field_errors %}
                    <div class="error">{{ error }}</div>
                {% endfor %}
            </div>
        {% endif %}
    </div>
{% endif %}



<div class="register-form-container">
    <div class="form-wrapper">
        <h2 class="register-title">Register</h2>

    <form method="post" class="register-form">
        {% csrf_token %}
        {{ form.as_p }}

        <div class="newsletter-checkbox-container">
            <label for="newsletter">
                <input type="checkbox" id="newsletter" name="newsletter">
                Receive Newsletter
            </label>
        </div>
        <button type="submit" class="login-button">Register</button>
    </form>



</div>
<p class="registration-link">Have an account? <a href="{% url 'account_login' %}">Login here</a></p>

</div>
{% endblock %}
